tg {
  path  /foo/*
  priority  1
  default

  target serverA google.com 80
  target serverB 127.0.0.1 5001
  target serverC 127.0.0.1 5002
  target serverD 127.0.0.1 5003
  target serverE 127.0.0.1 5004
}

tg {
  path  /bar/*
  priority  2

  target serverF 127.0.0.1 5010
  target serverG 127.0.0.1 5011
}