tg {
  path  /foo/*
  priority  1
  default

  target serverA localhost 5000
  target serverB localhost 5001
  target serverC localhost 5002
  target serverD localhost 5003
  target serverE localhost 5004
}

tg {
  path  /bar/*
  priority  2

  target serverF localhost 5010
  target serverG localhost 5011
}